body {
  min-height: 100vh;
  min-width: 100vw;
  background: #212534;
  /* display: flex;
  align-items: center;
  flex-direction: row; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* box-sizing: border-box; */
  overflow: hidden;
}
.CardList {
  padding-top: 1%;
  display: grid;
  grid-auto-flow: column;
  padding-bottom: 200px;
}
.CardList::-webkit-scrollbar {
  display: none;
  width: 0.2em;
  background-color: #f5f5f5;
}

.CardList::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.App:focus {
  outline: none;
}


