body {
  min-height: 100vh;
  min-width: 100vw;
  background: #212534;
  /* display: flex;
  align-items: center;
  flex-direction: row; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* box-sizing: border-box; */
  overflow: hidden;
}
.CardList {
  padding-top: 1%;
  display: grid;
  grid-auto-flow: column;
  padding-bottom: 200px;
}
.CardList::-webkit-scrollbar {
  display: none;
}

.App:focus {
  outline: none;
}

/* COMPETENCE BOX PART */

.CompetenceList {
  display: grid;
  grid-auto-flow: column;
}
.CompetenceList::-webkit-scrollbar {
  display: none;
}
