@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.2em;
  color: rgb(88 199 250 / 30%);
  cursor: pointer;
  font-family: cursive;
  margin-right: 100px;
  margin-left: 100px;
  transition: color 1s;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 2s;
  /* filter: brightness(100%); */
}
.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.imageInCard {
  /* width: 60%;
  height: 60%; */
  width: calc(var(--card-height) / 1.7);
  height: calc(var(--card-height) / 1.7);
  filter: brightness(60%);
  transition: filter 2s;
}
.card:hover .imageInCard {
  filter: brightness(100%);
}
.easterEgg {
  opacity: 0;
  padding: 5% 5% 5% 0%;
}
.skills {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: absolute;
  bottom: 0px;
  right: 7%;
  filter: brightness(60%);
  transition: filter 2s;
}
.skill {
  padding-left: 30px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  brightness: 60%;
}

.card:hover .skills {
  filter: brightness(100%);
}
.skill[data-skill="Solidity"] {
  background: #5da5da;
}
.skill[data-skill="Python"] {
  background: #3572a5;
}
.skill[data-skill="C#"] {
  background: #178600;
}
.skill[data-skill="Bash"] {
  background: #000000;
}
.skill[data-skill="PHP"] {
  background: #4f5d95;
}
.skill:not([data-skill="Solidity"]):not([data-skill="Python"]):not([data-skill="C#"]):not([data-skill="Bash"]):not([data-skill="PHP"]) {
  background: blue;
}
